<!doctype html>
<html>
    <head>
        <%- include ../head.ejs %>
        <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="/stylesheets/sticky-footer-navbar.css" rel="stylesheet">
        <link href="/stylesheets/chatapp.css" rel="stylesheet">
    </head>
    <body>
    <div id="wrap">
        <%- include ../header.ejs %>
        <div class="chat-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                    <h1>Lobby</h1>
                    <div class="create-room">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createRoomForm">Create Room</button>
                    </div>
                </div>
                <% rooms.forEach(function(room){ %>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"><a href="#" id=<%= room._id %> name="moveRoom"><%= room.name %></a></div>
                        <div class="panel-body">
                            <em><%= room.description %></em>
                            </br><hr>
                            <% room.users.forEach(function(user){ %>
                                <span class="user-name"><%= user.name %></span>&nbsp;
                            <% }) %>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    <%- include ../chat/createRoom.ejs %>
    </div>
    </body>
    <script>
    $(function() {
        $("a[name=moveRoom]").click(function() {
            var data = {room :$(this).attr('id')};
            createFormSubmitByParam('/chat', data);
            return false;
        });
    });
    </script>
</html>
