<!doctype html>
<html>
    <head>
        <%- include ../head.ejs %>
        <script type="text/javascript" src="/view-script/lobby.js"></script>
        <script type="text/javascript" src="/view-script/chat.js"></script>
    </head>
    <body>
    <div id="wrap">
        <%- include ../header.ejs %>
        <div class="chat-container">
        <%- include ../chat/createRoom.ejs %>
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                    <h1>Lobby</h1>
                    <div class="create-room">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createRoomForm">Create Room</button>
                    </div>
                </div>
                <% rooms.forEach(function(room){ %>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"><a href="#" name="moveChat" id=<%= room._id %>><%= room.name %></a></div>
                        <div class="panel-body">
                            <em><%= room.description %></em>
                            </br><hr>
                            <% room.users.forEach(function(user){ %>
                                <span class="user-name"><%= user.name %></span>&nbsp;
                            <% }) %>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
    <%- include ../sideMenu.ejs %>
    </body>
</html>
