<!doctype html>
<html>
    <head>
        <%- include ../head.ejs %>
        <script type="text/javascript" src="/javascripts/submit.js"></script>
        <script type="text/javascript" src="/view-script/account.js"></script>
    </head>
    <body>
        <%- include ../header.ejs %>
        <div class="main-container">
            <div class="pull-right line-margin">
                <button id="accountCreateButton" class="btn btn-info" data-toggle="modal" data-target="#createForm">
                  新規登録
                </button>  
            </div>
            
            <div class="clearfix"></div>
            
            <!-- /entry-dialog -->
            <%- include create.ejs %>
    
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="active">
                            <th>ユーザー名</th>
                            <th>メールアドレス</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind='foreach: items'>
                    <% items.forEach(function(item){ %>
                        <tr>
                            <td><%= item.name %></td>
                            <td><%= item.mailAddress %></td>
                            <td><button name="accountUpdateButton" data-toggle="modal" data-target="#createForm" value="<%= item._id %>" class="btn btn-warning">update</button></td>
                            <td><button type="button" id="accountDeleteButton" value="<%= item._id %>" class="btn btn-danger">delete</button></td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>        
        </div>        
    </body>
</html>