<!doctype html>
<html>
    <head>
        <%- include ../head.ejs %>
        <script type="text/javascript" src="/javascripts/table.js"></script>
        <script type="text/javascript" src="/javascripts/submit.js"></script>
        <script type="text/javascript">
            $(document).ready( function() {
                $("input:button[name=btn_delete]").click(function(){
                    var id=getTableHiddenValue(this);
                    var data = {_id:id};
                    createFormSubmitByParam('/account/delete',data);
                    return false;
                });
                /*
                $("tr").click(function(){
                    var id=getTableHiddenValue(this);
//                    createFormSubmitByParam('/account/update',id);
                    $("div#referenceForm").attr("aria-hidden", false);
                    $("div#referenceForm").removeClass("modal fade").addClass("in fade modal"); 
                    $("div#referenceForm").attr("style", "display:block");
                    return false;
                });
                */
            });
        </script>
    </head>
    <body>
        <%- include ../header.ejs %>
        <div class="main-container">
            <div class="pull-right line-margin">
                <button class="btn btn-info" data-toggle="modal" data-target="#entryForm">
                  新規登録
                </button>  
            </div>
            
            <div class="clearfix"></div>
            
            <!-- /entry-dialog -->
            <form class="form-horizontal" method="POST" action="/account/regist">
                <div class="modal fade" id="entryForm" tabindex="-1" role="dialog" aria-labelledby="entryFormLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="entryFormLabel">登録フォーム</h4>
                            </div>
                            <div class="modal-body">
                            <%- include regist.ejs %>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                                <button data-bind='click: addGift' class="btn btn-primary" >登録する</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>        
    
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="active">
                            <th>ユーザー名</th>
                            <th>メールアドレス</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind='foreach: items'>
                    <% items.forEach(function(item){ %>
                        <tr>
                            <td><%= item.name %></td>
                            <td><%= item.mailAddress %></td>
                            <td><input type="button" class="btn btn-default" name="btn_delete" value="メッセージ送信"></td>
                            <td><input type="button" class="btn btn-default" name="btn_delete" value="削除"></td>
                            <input type="hidden" value=<%= item._id %>>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>        
        </div>        
    </body>
</html>